MDK-ARM/2025_HERO_FRIC/

*.uvguix.*

*.bak

*.lst

*.lnp

*.obj

*.tmp

*.TMP

*.__i

*.crf

*.o

*.d

*.axf

*.dep

*.uvopt

*.htm

*.hsc

~*

*.map

*uvgui*

*.uvoptx

*.sct

*JLinkLog.txt

*.dbgconf

.vscode/tags

.vscode/

*.hex

*.lnk


*.scvd
*.iex
*.ini
MDK-ARM/.vscode/keil-assistant.log
MDK-ARM/2025_HERO_FRIC.uvoptx
MDK-ARM/.vscode/c_cpp_properties.json
MDK-ARM/.vscode/keil-assistant.log
MDK-ARM/2025_HERO_FRIC.uvoptx
MDK-ARM/2025_HERO_FRIC.uvprojx
MDK-ARM/.vscode/c_cpp_properties.json
MDK-ARM/.vscode/keil-assistant.log
MDK-ARM/.vscode/uv4.log
MDK-ARM/2025_HERO_FRIC/shoot_task.o
*.o
*.crf
MDK-ARM/2025_HERO_FRIC/bmi088driver.crf
MDK-ARM/.vscode/c_cpp_properties.json
MDK-ARM/.vscode/keil-assistant.log
*.log
*.lock
*.zlw
*.uvoptx
*.d
MDK-ARM/.vscode/keil-assistant.log
